
<div class="sidenav-wrapper" style="position: relative; display: flex; overflow-x: hidden; height: auto; min-height: 100%;">
  <app-sidenav [toggle]="true" [fixed]="false">
      <div class="sidenav-header">
          <div class="title">
              <img src="assets/images/logo_bcp.svg" alt="">
              <span>StyleGuide</span>
          </div>
      </div>
      <div class="sidenav-menu">
          <dl>
              <dt routerLink="./introduccion" routerLinkActive="active">Introduccion</dt>
          </dl>
          <dl>
            <dt routerLink="./componentes/sidenav" routerLinkActive="active">Sidenav</dt>
          </dl>
          <dl>
            <dt routerLink="./componentes/form-field" routerLinkActive="active">Form-field</dt>
          </dl>
      </div>
  </app-sidenav>

  <div style="flex: 1; padding: 8px;">
      <router-outlet></router-outlet>
  </div>
</div>
